<?xml version="1.0"?>
<config>
  <modules>
    <CodeMasterz_QueryManager>
      <version>0.1.0</version>
    </CodeMasterz_QueryManager>
  </modules>
  <frontend>
    <routers>
      <querymanager>
        <use>standard</use>
          <args>
            <module>CodeMasterz_QueryManager</module>
            <frontName>querymanager</frontName>
          </args>
      </querymanager>
    </routers>
		<layout>
		  <updates>
			<querymanager>
			  <file>querymanager.xml</file>
			</querymanager>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <querymanager>
        <class>CodeMasterz_QueryManager_Helper</class>
      </querymanager>
    </helpers>
	<blocks>
	  <querymanager>
		<class>CodeMasterz_QueryManager_Block</class>
	  </querymanager>
	</blocks>
	<models>
	  <querymanager>
		<class>CodeMasterz_QueryManager_Model</class>
		<resourceModel>querymanager_mysql4</resourceModel>
	  </querymanager>
	  <querymanager_mysql4>
		<class>CodeMasterz_QueryManager_Model_Mysql4</class>
		<entities>		  
			  <querymanager>
				<table>querymanager</table>
			  </querymanager>
        </entities>
	  </querymanager_mysql4>
	</models>
	<resources>
	  <querymanager_setup>
		<setup>
		  <module>CodeMasterz_QueryManager</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </querymanager_setup>
	  <querymanager_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </querymanager_write>
	  <querymanager_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </querymanager_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <querymanager>
	    <use>admin</use>
		<args>
		  <module>CodeMasterz_QueryManager</module>
		  <frontName>admin_querymanager</frontName>
		</args>
	  </querymanager>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <querymanager module="querymanager">
		<title>QueryManager</title>
		<sort_order>100</sort_order>
		<children>
		  <querymanager module="querymanager">
		    <title>Manage Querymanager</title>
			<sort_order>0</sort_order>
			<action>admin_querymanager/adminhtml_querymanager</action>
		  </querymanager>
		</children>
	  </querymanager>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<querymanager translate="title" module="querymanager">
			  <title>QueryManager</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <querymanager translate="title">
			<title>Manage Querymanager</title>
			<sort_order>0</sort_order>
		  </querymanager>
			  </children>
			</querymanager>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<querymanager>
		  <file>querymanager.xml</file>
		</querymanager>
	  </updates>
	</layout>
  </adminhtml>
</config> 